.container {
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 100px 0 0 0;
    width: 80%;
    box-shadow: var(--shadow-default);
    padding: 25px;
}


