.container {
  @apply flex
    flex-1
    w-full
    p-0
    m-0
    flex-col
    items-center
    justify-center
    before:absolute
    before:w-2/1
    before:h-full
    before:bg-blue
    before:rotate-12
    before:bottom-0
    before:left-0
    before:right-0
    before:origin-top-right
    before:shadow-xl
    before:animate-fromTop12Deg;
}
