.container {
  @apply flex
    flex-1
    w-full
    p-0
    m-0
    flex-col
    items-center
    justify-center
    before:absolute
    before:w-2/1
    before:h-full
    before:bg-yellow
    before:-rotate-6
    before:top-3/4
    before:-left-1/4
    before:right-0
    before:origin-top-left
    before:shadow-xl
    before:animate-fromBottom;
}
